
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-minus-circled:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-attention-circled:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e808'; } /* '' */
.icon-code:before { content: '\e809'; } /* '' */
.icon-twitter-squared:before { content: '\e80a'; } /* '' */
.icon-graduation-cap:before { content: '\e80b'; } /* '' */
.icon-html5:before { content: '\e80c'; } /* '' */
.icon-github-squared:before { content: '\e80d'; } /* '' */
.icon-mic:before { content: '\e80e'; } /* '' */
.icon-camera-alt:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-sliders:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-block:before { content: '\e815'; } /* '' */
.icon-book:before { content: '\e816'; } /* '' */
.icon-reddit-squared:before { content: '\e817'; } /* '' */
.icon-skype:before { content: '\e818'; } /* '' */
.icon-vimeo-squared:before { content: '\e819'; } /* '' */
.icon-youtube-squared:before { content: '\e81a'; } /* '' */
.icon-linkedin-squared:before { content: '\e81b'; } /* '' */
.icon-flickr:before { content: '\e81c'; } /* '' */
.icon-rss-squared:before { content: '\e81d'; } /* '' */
.icon-asterisk:before { content: '\e81e'; } /* '' */
.icon-gplus-squared:before { content: '\e81f'; } /* '' */