@import url('https://fonts.googleapis.com/css?family=Taviraj:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


body {
    font-family: 'Taviraj', serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Taviraj";
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }

figure {
    margin: 1em 0;
}

figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
figure figcaption {
    text-align: center;
    color: #AAAAAA;
    font-size: .75em;
}
.clearer {
    clear: both;
    height: 0;
    display: table;
}
.attention, .information, .reference {
    padding: 1em 2em .5em 60px;
    margin: .5em 0;
    border-radius: 8px;
    font-size: 1em;
    background-repeat: no-repeat;
    background-position: .25em 0;
    border: solid 1px #eee;
    min-height: 3em;
}
.information {
    background-color: #D6ECF6;
    background-image: url('images/info.png');
}
.attention {
    background-color: #f3e5e0;
    background-image: url('images/attention.png');
}
.reference {
    background-color: #EAE9E3;
    background-image: url('images/edit.png');
}
.page-header {
    background-color: #a1de6f;
    margin: 0;
    text-align: center;
    }
    .page-header .title { font-weight: 900; font-size: 72px;}
    .page-header .author { font-weight: 100; }
.content {
    padding: 0 0 0 16px;
}
.content h1, .content h2 {
    margin-left: -16px;
}
.content h1:before {
    color: #BBBBBB;
    content: counter(h1)". ";
}
@media print {
    figure img {
        page-break-before: auto;
        /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto;
        /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid;
        /* or 'auto' */
    }

}
@page {
    @bottom {
	content: "Page " counter(page) " of " counter(pages)
    }
}
.content h1 {
    font-size: 2.4em;
    margin-top: 1em;
    border-bottom: thin solid #CCC;
    counter-reset: h2;
    counter-increment: h1;
}
.content h2 {
    margin-top: 2em;
    counter-reset: h3;
    counter-increment: h2;
    font-size: 1.8em;
}
.content h2:before {
    color: #BBBBBB;
    content: counter(h1)"."counter(h2)". ";
}
.content h3 {
    font-size: 1.6em;
}
.content h1 + h2 {
    margin-top: 0;
}
.table-bordered td, .table-bordered th {
    padding: .25em;
}
.col2 {
    float: left;
    width: 50%;
}
article .sourceCode * {
    pointer-events: none !important;
}
